
article{
    /* font-family:'Calibri'; */
    opacity: 0;
    animation: fadeInUp 1s ease 0.4s 1 normal forwards;
    background-color: white;
    color: rgb(32, 32, 32);
    width: 90%;
    margin: auto;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h2{
    color: rgb(32, 32, 32);
    margin: .6em;
    font-size: x-large;
    font-weight: bold;
    text-decoration-line: underline;
    text-align: center;
}
h3{
    font-size: large;
    margin: .4em;
    margin-top: 1.5em;
    text-align: center;
    color: rgb(32, 32, 32);
    text-decoration-line: underline;
    font-weight: bold;
}
p{
    text-align: center;
    margin: .2em;
    color: rgb(32, 32, 32);
}

.video{
    margin: 1em auto; 
}

.icon{
    margin: 0 0.5em;
}
.fuente{
    text-align: left;
    font-size: small;
}

/*ANIMATIONS*/
@keyframes fadeInUp {
    0%      { opacity: 0; transform: translate(0,20px); }
    100%    { opacity: 1; transform: translate(0,0); }
}